extends  base.pug

block scripts
    script
        include ../static/index.js

block style  
    style 
        include ../static/style.css

block content      
    div.abhead
        h3 
            p  About 
            div.abhead-img
                img(src="/static/himg.jpg" alt="")

        p Deepak Dance Academy is also the preferred destination for foreigners visiting India. Deepak Dance Academy’s 2 hour “in-costume” dance session on Bollywood, Bhangra and Garbha/Dandiya is called “Namaste India Dance Workshop” and has been made popular by various travel websites. DDA works with various inbound tour operators to make these workshops available to travelers visiting Delhi. The Namaste India Workshop has been rated “Excellent” on TripAdvisor.com and now stands as the #1 Fun Activity in Delhi.

            |Other services offered include conducting fitness and dance classes at various organisations in and around Delhi. Our corporate classes have received excellent reviews from our corporate clients. Our dance troupe has performed at various events around the country and is reputed for being professional and coordinated. With many hundreds of families serviced for wedding dancing, our wedding choreography division is a one stop shop starting from song selection, making high quality medleys to shooting periodic videos to help families remember the steps (shared privately on Youtube). From couple choreographic sequences to full family performances, we have received fantastic reviews for our work at marriage and sangeet functions.

            | The emphasis at Delhi Dance Academy has always been on providing education that matters, on managing the centers professionally – starting and ending classes on time, providing a comfortable environment to students, choosing well trained, professional instructors and so on. DDA has done very well in standardizing the process, using technology for managing the institutes.