doctype html 
html 
  head 
    title This is title 
    style 
      include ../static/style.css
  body 
    nav#navbar
      ul
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Services]
        li #[a(href="/") Class Info]
        li #[a(href="/") Contact Us]

  section#introsection 
    div Welcome to Deepak's Dance Academy
    div.small Eat Sleep Dance Repeat
  section#missionsection   
    h2  Our Mission 
    div.card
      h3  Dance Perfection 
    div.card
      h3  Dance the way  you like 
    div.card
      h3 Expert teaching      
  section#sponsorsection 
    h2  Our sponsors

  footer#footer 
    | Copyright @ 2021 DeepakDanceAcademy.com | All rights reserved.  

  script
    include ../static/index.js   
